[Oo]bj
[Bb]in
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad

lib/*
output/*
_UpgradeReport_Files/*
*.idc
Backup/*
UpgradeLog.xml
build.bat
*.tokens
